# Node
node_modules/
dist/
.output/
.wxt/

# Editor
.idea/
.vscode/

# Env files
.env
.env.*
!.env.example

# OS junk
.DS_Store
Thumbs.db

# playright
browser-extension/playwright-report/
browser-extension/playwright/
browser-extension/test-results/